* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: 	#70528a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    background:#bb95ee;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

.search-box {
    display: flex;
    margin-bottom: 15px;
    border: 5px;
}

#city-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

#search-btn {
    padding: 10px 14px;
    background: #3498db;
    color: white;
    border: 2px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#search-btn:hover {
    background: #7a9cb3;
}

.weather-card {
    margin-top: 10px;
    padding: 15px;
    background: #f7f7f7;
    border-radius: 10px;
    text-align: center;
}

.weather-card h3 {
    margin-bottom: 10px;
}

.weather-card p {
    margin: 5px 0;
    font-size: 16px;
}
